@font-face {
	font-family: Roboto-Thin;
	src: url('/fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: Roboto-Light;
	src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: Roboto-Regular;
	src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: Roboto-Medium;
	src: url('/fonts/Roboto-Medium.ttf');
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #f2f2f2;
}
.create-post {
	margin: 10px 0 10px 0;
}

.create-post-btn {
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	width: 300px;
	height: 40px;
	background: linear-gradient(100deg, #a659ff, #a659ff);
	color: #fff;
	margin-top: -10px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	background-color: #15d5a4;
	/*padding: 5px 10px 5px 10px;*/
	padding: 10px;
	color: #fff;
	width: 200px;
}

.create-post-btn:hover {
	background-color: #40bda6;
}
